* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: #212529;
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

header #navbar {
  width: 100%;
  position: fixed;
}
header .navbar-expand-sm .navbar-collapse {
  justify-content: flex-end;
}
header .navbar-toggler {
  background-color: #ffffff;
}
header .navbar-brand {
  text-transform: uppercase;
  color: #ffffff;
}
header .navbar-brand:hover {
  color: #ffffff;
}
header .navbar-nav {
  gap: 1rem;
}
header .nav-link {
  text-transform: uppercase;
  color: #ffffff;
}
header .nav-link:hover {
  color: #ffffff;
}

#home {
  padding: 12%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #e0e0e0;
}
#home h1 {
  font-weight: bold;
}
#home button {
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #212529;
}
#home button img {
  margin-left: 3px;
  width: 1.3rem;
}
#home .text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
#home .socials {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#home .socials img {
  width: 1.5rem;
}
#home .picture {
  border: solid 3px #212529;
  border-radius: 50%;
  margin: 2rem;
}
#home .picture img {
  width: 15rem;
}
#home .scroll {
  cursor: pointer;
  margin-top: 2rem;
  width: 2rem;
}
#home .scroll a {
  text-decoration: none;
  color: #212529;
  display: flex;
  align-items: center;
}
#home .scroll a p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}
#home .scroll a img {
  margin: 0;
  width: 100%;
  height: 2rem;
}
#home .scroll a #arrow {
  width: 100%;
  height: 1rem;
}
#home .scroll:hover {
  transition: 0.5s;
  transform: translateY(8px);
}

#about-me {
  padding: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e4e4;
}
#about-me h2 {
  text-align: center;
  font-weight: bold;
}
#about-me button {
  gap: 0.5rem;
  display: flex;
  justify-content: baseline;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #212529;
}
#about-me button img {
  width: 1.5rem;
}
#about-me .hobbies {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: baseline;
}
#about-me .hobbies h3 {
  font-weight: bold;
}

#skills {
  padding: 6%;
  width: 100%;
  background-color: #e7e7e7;
}
#skills h2 {
  text-align: center;
  font-weight: bold;
}
#skills p {
  text-align: center;
}
#skills .knowledge {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}
#skills .knowledge img {
  width: 60px;
}
#skills .knowledge h3 {
  text-align: center;
}
#skills .knowledge .front-end {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#skills .knowledge .front-end #html {
  grid-area: img1;
}
#skills .knowledge .front-end #css {
  grid-area: img2;
}
#skills .knowledge .front-end #node {
  grid-area: img3;
}
#skills .knowledge .front-end #sass {
  grid-area: img4;
}
#skills .knowledge .front-end #js {
  grid-area: img5;
}
#skills .knowledge .front-end #react {
  grid-area: img6;
}
#skills .knowledge .front-end #git {
  grid-area: img7;
}
#skills .knowledge .front-end #github {
  grid-area: img8;
}
#skills .knowledge .design {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#skills .knowledge .design #photoshop {
  grid-area: img1;
}
#skills .knowledge .design #ilustrator {
  grid-area: img2;
}
#skills .knowledge .design #lightroom {
  grid-area: img3;
}
#skills .knowledge .design #figma {
  grid-area: img4;
}
#skills .knowledge .back-end {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4" "img5 img5";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#skills .knowledge .back-end #php {
  grid-area: img1;
}
#skills .knowledge .back-end #sql {
  grid-area: img2;
}
#skills .knowledge .back-end #npm {
  grid-area: img3;
}
#skills .knowledge .back-end #nodejs {
  grid-area: img4;
}
#skills .knowledge .back-end #javascript {
  grid-area: img5;
  justify-self: center;
}
#skills .education {
  margin: 5rem;
}
#skills .education h4 {
  text-align: center;
  font-weight: bold;
}
#skills .education img {
  margin-right: 0.5rem;
  width: 3rem;
}
#skills .education .grades {
  margin: 3rem;
}
#skills .education .grades h3 {
  font-weight: bold;
}
#skills .education .grades .calendar {
  display: flex;
}
#skills .education .grades .calendar img {
  margin: 0;
  width: 3rem;
}
#skills .education .grades .calendar p {
  align-self: center;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: 5rem;
}

#services {
  background-color: #e7e7e7;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#services h2 {
  font-weight: bold;
}

#projects {
  padding: 5%;
  background-color: #ebebeb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects h2 {
  font-weight: bold;
}
#projects .carousel-item {
  padding: 5rem;
  width: 30rem;
}
#projects .carousel-item h5 {
  font-weight: bold;
  color: #212529;
}
#projects .carousel-item img {
  margin-bottom: 1rem;
  width: 100%;
}

#contact {
  padding: 17%;
  background-color: #efefef;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
#contact h2 {
  font-weight: bold;
}
#contact .socials {
  margin: 1rem;
  display: flex;
  gap: 20px;
  align-items: baseline;
}
#contact .socials .logos {
  width: 50px;
}
#contact .logos:hover {
  transition: 0.6s;
  transform: translateY(-10px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  color: #212529;
  background-color: #e0e0e0;
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

#home {
  padding: 12%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: #e0e0e0;
}
#home h1 {
  font-weight: bold;
}
#home button {
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #212529;
}
#home button img {
  margin-left: 3px;
  width: 1.3rem;
}
#home .text {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
#home .socials {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#home .socials img {
  width: 1.5rem;
}
#home .picture {
  border: solid 3px #212529;
  border-radius: 50%;
  margin: 2rem;
}
#home .picture img {
  width: 15rem;
}
#home .scroll {
  cursor: pointer;
  margin-top: 2rem;
  width: 2rem;
}
#home .scroll a {
  text-decoration: none;
  color: #212529;
  display: flex;
  align-items: center;
}
#home .scroll a p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}
#home .scroll a img {
  margin: 0;
  width: 100%;
  height: 2rem;
}
#home .scroll a #arrow {
  width: 100%;
  height: 1rem;
}
#home .scroll:hover {
  transition: 0.5s;
  transform: translateY(8px);
}

#about-me {
  padding: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e4e4;
}
#about-me h2 {
  text-align: center;
  font-weight: bold;
}
#about-me button {
  gap: 0.5rem;
  display: flex;
  justify-content: baseline;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #212529;
}
#about-me button img {
  width: 1.5rem;
}
#about-me .hobbies {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: baseline;
}
#about-me .hobbies h3 {
  font-weight: bold;
}

#skills {
  padding: 6%;
  width: 100%;
  background-color: #e7e7e7;
}
#skills h2 {
  text-align: center;
  font-weight: bold;
}
#skills p {
  text-align: center;
}
#skills .knowledge {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
}
#skills .knowledge img {
  width: 60px;
}
#skills .knowledge h3 {
  text-align: center;
}
#skills .knowledge .front-end {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
#skills .knowledge .front-end #html {
  grid-area: img1;
}
#skills .knowledge .front-end #css {
  grid-area: img2;
}
#skills .knowledge .front-end #node {
  grid-area: img3;
}
#skills .knowledge .front-end #sass {
  grid-area: img4;
}
#skills .knowledge .front-end #js {
  grid-area: img5;
}
#skills .knowledge .front-end #react {
  grid-area: img6;
}
#skills .knowledge .front-end #git {
  grid-area: img7;
}
#skills .knowledge .front-end #github {
  grid-area: img8;
}
#skills .knowledge .design {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#skills .knowledge .design #photoshop {
  grid-area: img1;
}
#skills .knowledge .design #ilustrator {
  grid-area: img2;
}
#skills .knowledge .design #lightroom {
  grid-area: img3;
}
#skills .knowledge .design #figma {
  grid-area: img4;
}
#skills .knowledge .back-end {
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 5%;
  gap: 15px;
  display: grid;
  grid-template-areas: "img1 img2" "img3 img4" "img5 img5";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#skills .knowledge .back-end #php {
  grid-area: img1;
}
#skills .knowledge .back-end #sql {
  grid-area: img2;
}
#skills .knowledge .back-end #npm {
  grid-area: img3;
}
#skills .knowledge .back-end #nodejs {
  grid-area: img4;
}
#skills .knowledge .back-end #javascript {
  grid-area: img5;
  justify-self: center;
}
#skills .education {
  margin: 5rem;
}
#skills .education h4 {
  text-align: center;
  font-weight: bold;
}
#skills .education img {
  margin-right: 0.5rem;
  width: 3rem;
}
#skills .education .grades {
  margin: 3rem;
}
#skills .education .grades h3 {
  font-weight: bold;
}
#skills .education .grades .calendar {
  display: flex;
}
#skills .education .grades .calendar img {
  margin: 0;
  width: 3rem;
}
#skills .education .grades .calendar p {
  align-self: center;
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: 5rem;
}

#services {
  background-color: #e7e7e7;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#services h2 {
  font-weight: bold;
}

#projects {
  padding: 5%;
  background-color: #ebebeb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#projects h2 {
  font-weight: bold;
}
#projects .carousel-item {
  padding: 5rem;
  width: 30rem;
}
#projects .carousel-item h5 {
  font-weight: bold;
  color: #212529;
}
#projects .carousel-item img {
  margin-bottom: 1rem;
  width: 100%;
}

#contact {
  padding: 17%;
  background-color: #efefef;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
#contact h2 {
  font-weight: bold;
}
#contact .socials {
  margin: 1rem;
  display: flex;
  gap: 20px;
  align-items: baseline;
}
#contact .socials .logos {
  width: 50px;
}
#contact .logos:hover {
  transition: 0.6s;
  transform: translateY(-10px);
}

@media (max-width: 600px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
  }
  #about-me {
    padding: 15%;
  }
  #skills {
    padding: 15%;
  }
  #projects {
    padding: 20%;
  }
}
@media (max-width: 400px) {
  #about-me {
    padding: 20%;
  }
  #about-me .hobbies {
    flex-direction: column;
  }
  #contact {
    padding: 15%;
  }
  #contact h2 {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */