$primary: #212529;
$secondary:#ffffff;
$backGroundColor:#CECECE;
$backGroundColor1:#dadada;
$backGroundColor2:#e6e6e6;
$backGroundColor3:#f3f3f3;
$backGroundColor4:#E2E2E2;
$backGroundColor5:#F6F6F6;

