@import "../colors/colors";

footer {
    width: 100%;
    height: 100%;
    background-color: $primary;
    color: $secondary;
    padding: 6rem;

    .rights {
        margin: 5rem;
        margin-bottom: 0;
        p{
            display: flex;
            justify-content: center;
        }
        
    }

    .footer {
        display: flex;
        gap: 6rem;
        justify-content: center;

        .socials2 {
            a {
                margin: 1rem;
                img {
                    width: 3rem;
                }
            }
        }

        .links {
            display: flex;
            gap: 1rem;
        }
    }
}