@import "../colors/colors";

header {
    #navbar {
        width: 100%;
        position: fixed !important;
        z-index: 10;
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-toggler {
        background-color: $secondary;
    }

    .navbar-brand {
        text-transform: uppercase;
        color: $secondary;
    }

    .navbar-brand:hover {
        color: $secondary;
    }

    .navbar-nav{
        gap: 1rem;
    }

    .nav-link {
        text-transform: uppercase;
        color: $secondary;
    }

    .nav-link:hover {
        color: $secondary;
    }
}