@import "../colors/colors";

header {
    #navbar{
        width: 100%;
        position: fixed;
    }

    .navbar-expand-md .navbar-collapse{
        justify-content: flex-end;
    }

    .navbar-toggler{
        background-color: $secondary;
    }

    .navbar-brand {
        text-transform: uppercase;
        color: $secondary;
    }

    .navbar-brand:hover {
        color: $secondary;
    }

    .nav-link {
        text-transform: uppercase;
        color: $secondary;
    }

    .nav-link:hover {
        color: $secondary;
    }
}