@import "../colors/colors";

#about-me {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .picture{
        img{
            border: solid 3px;
            border-radius: 50%;
            margin-bottom: 5%;
            width: 200px;
        }
    }


    h2 {
        text-align: center;
        font-weight: bold;
    }

    .hobbies {
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        align-items: baseline;

        h3 {
            font-weight: bold;
        }
    }
}


#skills {
    padding: 6%;
    width: 100%;
    background-color: $backGroundColor1;

    h2 {
        text-align: center;
        font-weight: bold;
    }

    p {
        text-align: center;
    }

    .knowledge {
        margin-top: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 150px;

        img {
            width: 60px;
        }

        h3 {
            text-align: center;
        }

        .front-end {
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 100%;
            padding: 5%;
            gap: 15px;
            display: grid;
            grid-template-areas: "img1 img2"
                "img3 img4"
                "img5 img6"
                "img7 img8";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;

            #html {
                grid-area: img1;
            }

            #css {
                grid-area: img2;
            }

            #node {
                grid-area: img3;
            }

            #sass {
                grid-area: img4;
            }

            #js {
                grid-area: img5;
            }

            #react {
                grid-area: img6;
            }

            #git {
                grid-area: img7;
            }

            #github {
                grid-area: img8;
            }
        }

        .design {
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 5%;
            gap: 15px;
            display: grid;
            grid-template-areas: "img1 img2"
                "img3 img4";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            #photoshop {
                grid-area: img1;
            }

            #ilustrator {
                grid-area: img2;
            }

            #lightroom {
                grid-area: img3;
            }

            #figma {
                grid-area: img4;
            }
        }

        .back-end {
            align-items: center;
            justify-content: center;
            margin: 0;
            width: 100%;
            padding: 5%;
            gap: 15px;
            display: grid;
            grid-template-areas: "img1 img2"
                "img3 img4"
                "img5 img5";
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            #php {
                grid-area: img1;
            }

            #sql {
                grid-area: img2;
            }

            #npm {
                grid-area: img3;
            }

            #nodejs {
                grid-area: img4;
            }

            #javascript {
                grid-area: img5;
                justify-self: center;
            }
        }
    }
}


#projects {
    padding: 8%;
    background-color: $backGroundColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        display: flex;
        justify-content: center;
        font-weight: bold;
    }

    .portfolio {
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            height: max-content;
            margin: 3%;
            background-color: $backGroundColor;
            border: none;
            width: 300px;
            text-decoration: none;
            filter: opacity(80%);

            a {
                color: $primary;
                text-align: center;
                text-decoration: none;

                #h3gali{
                    margin-top:30px ;
                }

                h3 {
                    margin: 3%;
                    font-weight: bold;
                }
            }

            img {
                width: 100%;
            }
        }

        .card:hover {
            filter: opacity(100%);
            transition: .4s;
        }
    }
}

#contact {
    padding: 20%;
    background-color: $backGroundColor1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h2 {
        font-weight: bold;
    }

    p {
        text-align: center;
    }

    .socials {
        display: flex;
        gap: 20px;
        align-items: baseline;

        a {
            width: 50px;
        }
    }

    a:hover {
        transition: .6s;
        transform: translateY(-10px);
    }
}
