@import "../reset/reset";
@import "../components/main";

@media (max-width: 600px) {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }

    #about-me {
        padding: 15%;
    }

    #skills{
        padding: 15%;
    }

    #projects{
        padding: 20%;
    }
}

@media (max-width: 400px) {
    #about-me {
        padding: 20%;

        .hobbies {
            flex-direction: column;
        }
    }

    #contact {
        padding: 15%;

        h2 {
            display: flex;
            flex-wrap: wrap;
        }
    }
}